.footer {
  background-color: #000;
  width: 100%;
  
}
.footer .footer_inner {
  display: flex;
  justify-items: center;
  align-items: center;
}
.footer .footer_inner h2 {
  margin: auto;
}
.footer .footer_inner h2 p {
  display: block;
  color: #fff;
  text-align: center;
}
